body {
    background-color: rgb(254, 250, 239) !important;
    font-family: 'rubik';
    margin: 0px;
}

footer {
    display: flex;
}



.card-background {
    background-image: url(img/brainbg.jpg);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(254, 250, 239);
    flex-direction: column;
}

.card-body {
    text-align: center;
}

.next {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reply {
    display: flex;
    align-items: center;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
    background-color: white;
}

.reply:hover {
    background-color: rgb(199, 199, 199);
}

.reply:hover .abcd {
    background-color: rgb(199, 199, 199);
}

.col-md-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 53, 92);
    height: 400px;
}

.sid-bar-img {
    height: auto;
    width: 80px;
    margin-top: 30px;
}

.row {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;

}

.sid-bar-categorie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 60px;
    width: 100%;
}

.welcom-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.start-button {
    background-color: rgb(253, 79, 18);
    border-color: rgb(253, 79, 18);
    margin-right: 30px;
    margin-top: 212px;
}

.replay-button {
    color: blue;
    text-decoration: none;
}

.finish-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(247, 247, 247);
}

.finish-card-img {
    height: auto;
    width: 100px;
}

.score-Text {
    color: rgb(237, 140, 62);
}

.endbutton-container {
    display: flex;
    flex-direction: column;
}

.share-button {
    width: 180px;
}

.content {
    width: 100%;
    height: 100%;
}

.navigation {
    cursor: pointer;
    color: rgb(206, 206, 206);
    margin-left: 70px;
}

.navigation-container {
    display: flex;
    justify-content: flex-start;
}

.white-box-hover {
    display: none;
    width: 5px;
    height: 100%;
    background-color: white;
    margin-left: 2px;

}

.navigation:hover .white-box-hover {
    display: block;
}

.abcd {
    background-color: rgb(214, 214, 214);
    height: 50px;
    width: 50px;
    margin-left: 4px;
}

.content {
    background-color: rgb(247, 247, 247);
}

.arrow-go-back {
    height: auto;
    width: 20px;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    width: 540px;
}

.arrow-background {
    background-color: rgb(220, 222, 251);
    border-radius: 100%;
    border-style: solid;
    border: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rigth {
    background-color: rgb(183, 247, 153);
}

.wrong {
    background-color: rgb(255, 163, 164);
}

.tropy {
    position: fixed;
    right: 0;
}

.screenWelcome {
    background-image: url(img/brainbg.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:64em) {
    .col-md-4 {
        width: 180px;
    }
    .card {
        max-width: 400px;
    }

    .row {
        width: 400px;
    }

    .arrow-container {
        width: 400px;
    }
}

@media screen and (max-width:48em) {
    .card {
        max-width: 300px;
    }

    .row {
        width: 300px;
    }
    .col-md-4 {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-container {
        width: 300px;
    }

    .start-button-container {
        justify-content: center;
    }
    .start-button {
        margin-right: 0px;
    }

    .sid-bar-categorie {
        align-items: center;
    }

    .navigation {
        margin-left: 0px;
    }
}

@media screen and (max-width:35.5em) {
    .card {
        max-width: 190px;
    }

    .arrow-container {
        width: 190px;
    }

    .sid-bar-img {
        display: none;
    }

    .col-md-4 {
        display: none;
    }

    .row {
        width: 190px;
    }

    .start-button-container {
        justify-content: center;
    }

    .start-button {
        margin-right: 0px;
    }

    .abcd {
        width: 35px;
        height: 35px;
    }

    .white-box-hover {
        display: none;
    }

    .tropy {
        width: 80px;
    }
}